@model rev101.Models.entites.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.title</title>
</head>
<body>
<div>
    <h1>the Id is @Model.Id and the Name is @Model.Name </h1>  
</div>
</body>
</html>